#mainContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.row {
  display: flex;
  gap: 2px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}
